.pass__container {
    background-color: var(--platinum);
    box-shadow: 3px 3px 2px 3px #888888;
    width: 30%;
    padding: 30px;
}

.setting-range input {
    width: 100px;
}

.custom__range {
    width: 300px;
}