.pass__container {
    background-color: var(--platinum);
    box-shadow: 3px 3px 2px 3px #888888;
    width: 30%;
    padding: 30px;
}

.pass__field {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3) ;
    padding: 4px;
}

.setting-range input {
    width: 100px;
}

.custom__range {
    width: 300px;
}

.pass__value {
    background-color: #aab7b8;
    padding: 5px 15px;
    border-radius: 30%;
}